.row
  .col-xs-4.constellation
    %img{src: image_path('zodiac/pisces.png')}
    %canvas{id:"canvas1", class: "canvas-const", width: "200", height: "230"}
    .pisces-sign.sign
  .col-xs-4.constellation
    %img{src: image_path('zodiac/aquarius.png')}
    %canvas{id:"canvas2", class: "canvas-const", width: "200", height: "230"}
    .aquarius-sign.sign
  .col-xs-4.constellation
    %img{src: image_path('zodiac/capricorn.png')}
    %canvas{id:"canvas3", class: "canvas-const", width: "200", height: "230"}
    .capricorn-sign.sign
  .col-xs-4.constellation
    %img{src: image_path('zodiac/sagittarius.png')}
    %canvas{id:"canvas4", class: "canvas-const", width: "200", height: "230"}
    .sagittarius-sign.sign
  .col-xs-4.constellation
    %img{src: image_path('zodiac/aries.png')}
    %canvas{id:"canvas5", class: "canvas-const", width: "200", height: "230"}
    .aries-sign.sign
  .col-xs-4.constellation
    %img{src: image_path('zodiac/taurus.png')}
    %canvas{id:"canvas6", class: "canvas-const", width: "200", height: "230"}
    .taurus-sign.sign
.row
  .col-xs-4.constellation
    %img{src: image_path('zodiac/virgo.png')}
    %canvas{id:"canvas7", class: "canvas-const", width: "200", height: "230"}
    .virgo-sign.sign
  .col-xs-4.constellation
    %img{src: image_path('zodiac/gemini.png')}
    %canvas{id:"canvas8", class: "canvas-const", width: "200", height: "230"}
    .gemini-sign.sign
  .col-xs-4.constellation
    %img{src: image_path('zodiac/scorpio.png')}
    %canvas{id:"canvas9", class: "canvas-const", width: "200", height: "230"}
    .scorpio-sign.sign
  .col-xs-4.constellation
    %img{src: image_path('zodiac/libra.png')}
    %canvas{id:"canvas10", class: "canvas-const", width: "200", height: "230"}
    .libra-sign.sign
  .col-xs-4.constellation
    %img{src: image_path('zodiac/leo.png')}
    %canvas{id:"canvas11", class: "canvas-const", width: "200", height: "230"}
    .leo-sign.sign
  .col-xs-4.constellation
    %img{src: image_path('zodiac/cancer.png')}
    %canvas{id:"canvas12", class: "canvas-const", width: "200", height: "230"}
    .cancer-sign.sign