.message-box
  %p
    :plain
      People always see some magic in the stars. Someone thinks that starts are souls of people which we loved,
      someone believes that starts are angles who watch us from above. In reality stars are nothing but huge fusion reactors
      which burn Hydrogen or Helium in their cores. And when they die they explode and throw into space all important chemical
      elements such as Carbon, Silicon which are essential parts of every living creature. So, we are literally made of stars...
  %p.hint
    Just follow string of lights to know what waits you ahead...

  .light-box
    %canvas{id: 'canvas', width: 630, height: 200}
