// Place all the styles related to the quest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
  background-color: #000000;
}

@font-face {
  font-family: 'Fina';
  src: font-url('fina_font.ttf') format('truetype');
}


.enter-box {
  width: 395px;
  height: 150px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

  color: white;

  font-family: "Fina";
  font-size: 136px;
  letter-spacing: 10px;
  font-weight: 400;

  a {
    text-decoration: none;
    color: lightgray;
  }
}