// Place all the styles related to the zodiac controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "zodiac/stars";

body {
  background-color: #000000;
}

@font-face {
  font-family: 'Simplifica';
  src: font-url('simplifica.woff') format('woff'),
      font-url('simplifica.eot') format('embedded-opentype'),
      font-url('simplifica.ttf') format('truetype');
}

@font-face {
  font-family: 'Gidole';
  src: font-url('gidole.eot') format('embedded-opentype'),
  font-url('gidole.ttf') format('truetype');
}

@font-face {
  font-family: 'Octopus';
  src: font-url('Octopus_100.otf') format('embedded-opentype'),
  font-url('octopus_100-webfont.woff') format('woff');
}



.zodiac-width {
  width: 630px;
  height: 1260px;
  margin-left: auto;
  margin-right: auto;

  background-image: image_url('zodiac/zodiac.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  color: white;
}

@media (min-width: 1090px) {
  .zodiac-width {
    width: 1200px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;

    background-image: image_url('zodiac/zodiac-700.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    color: white;
  }
}

@keyframes image_opacity {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes image_opacity {
  from {opacity: 0; display: inline;}
  to {opacity: 1; display: inline;}
}

.constellation {
  width: 200px;
  height: 230px;
  opacity: 0;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-name: image_opacity;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: image_opacity;
  -webkit-animation-fill-mode: forwards;
}

.canvas-const {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  opacity: 1;
}

@keyframes canvas_fade {
  from {opacity: 1;}
  to {opacity: 0;}
}

@-webkit-keyframes canvas_fade {
  from {opacity: 1;}
  to {opacity: 0;}
}

.canvas-fade {
  animation-duration: 3s;
  animation-name: canvas_fade;
  animation-fill-mode: forwards;
}

.hint {
  padding-top: 20px;
}